.navbar {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5vh 5vw;
    align-items: center;

    color: skyblue;
    background: rgb(95,37,159);
    background: linear-gradient(90deg, rgba(95,37,159,1) 0%, rgba(221,209,188,1) 100%);

}