

* {

    margin: 0;
    padding: 0;

}

.display_fountain_card {
    background: linear-gradient(to right, #5f259f, #3c1478);
    color: white; /* Couleur du texte */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin: 10px; /* Marge extérieure pour séparer les cartes */
}

.display_fountain_card p {
    margin: 5px 0; /* Marge interne pour séparer les éléments paragraphe */
}

header .container {
    
    text-align: center;

}

main {

    margin: 0px 7%;

}

.searchbar-input {

    width: 50%;
    height: 3vh;
    border-radius: 25px;
    padding: 0px 1vw;
    

}

.searchbar {

    position: relative;
    display: flex;
    align-items: center;


}

main .display-cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
}

